@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

:root {
  --color-1st: #66fcf1;
  --color-2nd: #45a29e;
  --color-3rd: #c5c6c7;
  --color-4th: #1f2833;
  --color-5th: #100b0f;
  --shadow: 1px 1px 1px rgb(65, 179, 179, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poiret One", cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-5th);
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  background: linear-gradient(var(--color-5th), var(--color-4th));
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  z-index: 1;
  transition-property: top;
  transition-duration: 2s;
}

nav {
  justify-content: space-between;
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition-property: top;
  transition-duration: 2s;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
}

h1 {
  color: var(--color-1st);
}

h5 {
  padding-bottom: 50px;
  color: var(--color-3rd);
}

.logo {
  cursor: pointer;
  margin: 10px 15px 15px 10px;
  max-height: 45px;
  min-width: 35px;
  max-width: 45px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: var(--color-3rd);
  font-size: 1.5rem;
}

.nav__links li a:hover {
  color: var(--color-1st);
}

.open__menu {
  font-size: 1.5rem;
  margin: 5px;
  display: none;
  cursor: pointer;
  outline: none;
}

.open__menu_logo {
  margin: 0 auto;
  cursor: pointer;
  margin-top: 30px;
  max-width: 60px;
  opacity: 0.7;
}

.open__menu_logo:hover {
  opacity: 1;
}

.open__menu_logo.hidden {
  display: none;
}

i.fas.fa-bars {
  font-size: 40px;
  color: var(--color-4th);
  text-shadow: var(--shadow);
}

i.fas.fa-bars:hover {
  color: var(--color-1st);
  opacity: 0.9;
  text-shadow: none;
}

i.fas.fa-times {
  font-size: 40px;
  color: var(--color-3rd);
  text-shadow: 2px 2px 2px rgb(12, 11, 11, 0.5),
    -2px -2px 2px rgb(34, 219, 210, 0.5);
}

i.fas.fa-times:hover {
  text-shadow: none;
  opacity: 0.9;
  color: var(--color-1st);
}

.nav__links .close__menu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
  top: auto;
  outline: none;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  position: bottom;
  size: cover;
}

/* SECTIONS */
.section {
  padding: 15rem 3rem;
  border-top: 0.5px solid var(--color-4th);
  transition: transform 1s, opacity 1s;
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
  color: var(--color-1st);
}

.section__description {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-3rd);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 500;
}

/* Card projects */
.column {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5rem;
  margin: 1.5rem auto;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 6px 18px 0 var(--color-2nd);
  transition: 0.3s;
  width: 400px;
  text-align: center;
  color: #c5c6c7;
  background: linear-gradient(var(--color-5th), var(--color-4th));
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
}

.overflow {
  overflow: hidden;
}

.project__img {
  float: left;
  width: 100%;
  height: 300px;
  object-fit: cover;
  transform: scale(1);
  transition: transform 1s ease;
}

.project__img:hover {
  transform: scale(1.3);
}

.project__links {
  text-decoration: none;
  color: var(--color-2nd);
}

.project__links:hover {
  color: var(--color-1st);
}

.card:hover {
  box-shadow: 0 12px 36px 0 var(--color-1st);
}

.container {
  padding: 6px 16px;
  font-size: 1.2rem;
}

@media (max-width: 430px) {
  .row {
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding-top: 20px;
  }
  .card {
    width: 220px;
    height: 220px;
  }
  .container {
    font-size: 0.8rem;
  }

  .project__img {
    float: left;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

/* CONTACT */
.contacts__list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;
  margin-top: 20px;
}

.contact__links {
  margin: 40px 40px 20px 40px;
  font-size: 19px;
  min-width: 123px;
}

.links {
  color: var(--color-4th);
  text-decoration: none;
}

.links:hover {
  color: var(--color-1st);
}

.links i {
  color: var(--color-2nd);
  font-size: 75px;
  margin-bottom: 15px;
  transform: scale(1);
  transition: 0.2s;
}

.links i:hover {
  color: var(--color-1st);
  transform: scale(1) translateY(-15px);
}

/* FOOTER */
.footer {
  padding: 10rem 3rem;
  background: linear-gradient(var(--color-4th), var(--color-5th));
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__nav a:hover {
  color: var(--color-1st);
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: var(--color-3rd);
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
  cursor: pointer;
}

@media (max-width: 824px) {
  .nav__links {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--color-5th), var(--color-1st));
    transition: top 1s ease;
    display: none;
  }

  .hero {
    font-size: 25px;
  }

  h5 {
    padding-right: 10px;
  }

  .nav__links .close__menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--color-3rd);
    margin: 6px;
  }

  .nav__links .close__menu:hover {
    background: none;
    color: var(--color-1st);
  }

  .open__menu {
    display: block;
  }

  .nav__links li a {
    transition: all 0.5s ease 0s;
  }

  .nav__links li a:hover {
    background: none;
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    color: var(--color-2nd);
  }

  .column {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .row {
    box-sizing: border-box;
  }

  .contacts__list {
    display: block;
  }

  .contact__links {
    font-size: 90%;
  }

  i {
    font-size: 65px;
  }

  i:hover {
    color: var(--color-1st);
  }

  .fa-bars {
    font-size: 40px;
    color: var(--color-4th);
  }

  .fa-bars:hover {
    font-size: 40px;
  }

  .fa-times {
    font-size: 40px;
    color: var(--color-3rd);
  }

  .fa-times:hover {
    font-size: 40px;
  }

  .footer__nav {
    position: relative;
    position: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .footer__link_arrow {
    margin-bottom: 2rem;
  }

  .footer__item {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .footer .footer__logo {
    cursor: pointer;
    image-rendering: auto;
    max-height: 45px;
    max-width: 60px;
  }
}
